In [3]:
import pandas as pd
df = pd.read_csv("./data/HR.csv") # read data, can assign split character
df.head(10)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

basic information
central tendancy
1. mean
2. median
3. mode
4. quantile: quartile Q1 = (n + 1) * 0.25, Q2 (n + 1)*0.5, Q3 (n + 1)* 0.75

In [12]:
# get mean
df.mean()

satisfaction_level         0.612839
last_evaluation           67.373732
number_project             3.802693
average_monthly_hours    201.041728
time_spend_company         3.498067
Work_accident              0.144581
left                       0.238235
promotion_last_5years      0.021264
dtype: float64

In [13]:
# get median
df.median()

satisfaction_level         0.64
last_evaluation            0.72
number_project             4.00
average_monthly_hours    200.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
dtype: float64

In [11]:
# quantile
df.quantile(q=0.25) # quartile

satisfaction_level         0.44
last_evaluation            0.56
number_project             3.00
average_monthly_hours    156.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
Name: 0.25, dtype: float64

In [16]:
# mode
df.mode() 
# df["department"].mode()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.1,0.55,4.0,135,3.0,0.0,0.0,0.0,sales,low
1,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# tendacy of dispersion
# standard deviation
# variance

In [18]:
df.std()

satisfaction_level          0.248623
last_evaluation          8164.407524
number_project              1.232733
average_monthly_hours      49.941815
time_spend_company          1.460053
Work_accident               0.351689
left                        0.426018
promotion_last_5years       0.144267
dtype: float64

In [19]:
# variance
df.var()

satisfaction_level       6.181359e-02
last_evaluation          6.665755e+07
number_project           1.519630e+00
average_monthly_hours    2.494185e+03
time_spend_company       2.131754e+00
Work_accident            1.236854e-01
left                     1.814911e-01
promotion_last_5years    2.081307e-02
dtype: float64

In [20]:
# summation
df.sum()

satisfaction_level                                                 9192.59
last_evaluation                                                1.01074e+06
number_project                                                       57048
average_monthly_hours                                              3016028
time_spend_company                                                   52478
Work_accident                                                         2169
left                                                                  3574
promotion_last_5years                                                  319
department               salessalessalessalessalessalessalessalessaless...
salary                   lowmediummediumlowlowlowlowlowlowlowlowlowlowl...
dtype: object

skewness: 
    

Kurtosis:

In [24]:
# skewness
print(df["satisfaction_level"].mean())

df["satisfaction_level"].skew()
# skewness < 0, values tend to larger than mean value

0.6128393333333343

-0.47643761717258093

In [26]:
# kurtosis, normal distribution is 0
# relative to normal, less than 0: moderate than Gaussian
df["satisfaction_level"].kurt()

-0.6706959323886252

In [8]:
type(df) # DataFrame

pandas.core.frame.DataFrame

In [7]:
type(df["satisfaction_level"]) # series

pandas.core.series.Series

In [27]:
# normal distribution
import scipy.stats as ss
ss.norm

In [28]:
ss.norm.stats(moments="mvsk")

(array(0.), array(1.), array(0.), array(0.))

In [32]:
print(ss.norm.pdf(0)) # pdf N(0, 1) at 0
print(ss.norm.ppf(0.9)) # between(0, 1)f is probability, negative infinite to this value is 0.9
print(ss.norm.cdf(2)) # cdf N(0, 1) at from negative infinite to 2
ss.norm.rvs(size = 10) # get numbers with normal distribution

0.3989422804014327
1.2815515655446004
0.9772498680518208

array([-1.41119243, -0.50198885, -1.70275107,  1.10525622,  0.00400688,
       -1.43224987, -0.16752231, -0.6545598 ,  0.64124392,  1.07795597])

In [33]:
# sample
df.sample(10)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
5519,0.98,0.57,5,141,3,0,0,1,sales,high
3468,1.00,0.79,5,152,4,0,0,0,hr,medium
2848,0.53,0.92,3,207,4,1,0,0,sales,low
9063,0.64,0.38,2,269,5,0,0,0,technical,low
10035,0.51,0.72,3,242,3,0,0,0,technical,low
4180,0.70,0.85,3,188,2,0,0,0,technical,medium
11105,0.37,0.49,3,177,3,0,0,0,marketing,high
7167,0.71,0.57,3,218,3,0,0,0,product_mng,low
7006,0.44,0.39,2,188,3,0,0,0,technical,low
8394,0.65,0.99,5,240,5,0,0,0,RandD,medium

In [38]:
df.sample(frac=0.0001)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
14143,0.82,0.84,3,194,3,0,0,0,product_mng,low
7204,0.59,0.97,3,258,2,0,0,0,accounting,low