In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./data/HR.csv")

In [3]:
df.sample(10)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
14993,0.76,0.83,6,293,6,0,1,0,support,low
1237,0.74,0.90,4,226,5,0,1,0,sales,medium
394,0.42,0.56,2,133,3,0,1,0,sales,low
14076,0.74,0.87,5,224,2,0,0,0,support,medium
11764,0.79,0.65,3,235,10,0,0,0,technical,low
4387,0.65,0.92,3,219,3,0,0,0,technical,medium
14336,0.11,0.92,6,260,4,0,1,0,support,low
3295,0.74,0.86,3,186,3,1,0,0,sales,high
1761,0.09,0.85,7,307,4,0,1,0,management,low
5764,0.30,0.55,6,178,2,0,0,0,technical,low

In [4]:
# abnormal
sl_s = df["satisfaction_level"];
sl_s[sl_s.isnull()]

14999   NaN
15000   NaN
Name: satisfaction_level, dtype: float64

In [5]:
df[sl_s.isnull()]

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low

In [7]:
# sl_s = sl_s.dropna() # dump null data
# sl_s = sl_s.fillna() # fill with data
sl_s = sl_s.dropna()

In [8]:
sl_s.mean()

0.6128393333333343

In [9]:
sl_s.std()

0.24862338135945417

In [10]:
sl_s.max()

1.0

In [11]:
sl_s.min()

0.09

In [12]:
sl_s.median()

0.64

In [13]:
sl_s.quantile(q=0.25)

0.44

In [14]:
sl_s.quantile(q=0.75)

0.82

In [15]:
sl_s.skew()

-0.47643761717258093

In [16]:
sl_s.kurt()

-0.6706959323886252

In [18]:
np.histogram(sl_s.values, bins=np.arange(0.0, 1.1, 0.1))

(array([ 195, 1214,  532,  974, 1668, 2146, 1973, 2074, 2220, 2004],
       dtype=int64),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))

# last_evaluation

In [20]:
le_s = df["last_evaluation"]

In [21]:
le_s[le_s.isnull()]

Series([], Name: last_evaluation, dtype: float64)

In [22]:
le_s.mean()

67.37373216904412

In [23]:
le_s.std()

8164.407523745649

In [24]:
le_s.median()

0.72

In [25]:
le_s.max()

999999.0

In [26]:
le_s.min()

0.36

In [27]:
le_s.skew()

122.48265175204614

In [28]:
le_s.kurt()

15001.999986807796

In [29]:
le_s[le_s > 1]

15000    999999.0
Name: last_evaluation, dtype: float64

In [30]:
le_s = le_s[le_s <= 1]

In [31]:
q_low = le_s.quantile(q=0.25)
q_high = le_s.quantile(q=0.75)

In [32]:
q_interval = q_high - q_low
k = 1.5
le_s = le_s[le_s < q_high + k * q_interval][le_s > q_low - 1.5 * q_interval]

In [38]:
print("mean: ",le_s.mean())
print("std: ", le_s.std())
print("median: ", le_s.median())
print("skewness: ", le_s.skew())
print("kurtosis: ", le_s.kurt())

mean:  0.7160675954936238
std:  0.17118464250786247
median:  0.72
skewness:  -0.02653253746872579
kurtosis:  -1.2390454655108427

In [35]:
np.histogram(le_s.values, bins=np.arange(0.0, 1.1, 0.1))

(array([   0,    0,    0,  179, 1390, 3396, 2234, 2062, 2752, 2988],
       dtype=int64),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))

# numberProject

In [39]:
np_s = df["number_project"]
np_s[np_s.isnull()]

Series([], Name: number_project, dtype: int64)

In [42]:
print("mean: ",np_s.mean())
print("std: ", np_s.std())
print("median: ", np_s.median())
print("skewness: ", np_s.skew())
print("kurtosis: ", np_s.kurt())
print("min: ", np_s.min())
print("max: ", np_s.max())

mean:  3.8026929742700974
std:  1.2327327792005955
median:  4.0
skewness:  0.3377744235231047
kurtosis:  -0.49580962709450604
min:  2
max:  7

In [43]:
np_s.value_counts()

4    4365
3    4055
5    2761
2    2391
6    1174
7     256
Name: number_project, dtype: int64

In [45]:
np_s.value_counts(normalize=True).sort_index()

2    0.159379
3    0.270297
4    0.290961
5    0.184042
6    0.078256
7    0.017064
Name: number_project, dtype: float64

# Average Monthly hours

In [46]:
amh_s = df["average_monthly_hours"]

In [47]:
print("mean: ",amh_s.mean())
print("std: ", amh_s.std())
print("median: ", amh_s.median())
print("skewness: ", amh_s.skew())
print("kurtosis: ", amh_s.kurt())
print("min: ", amh_s.min())
print("max: ", amh_s.max())

mean:  201.0417277696307
std:  49.94181527437911
median:  200.0
skewness:  0.05322458779916304
kurtosis:  -1.1350158577565719
min:  96
max:  310

In [48]:
q3 = amh_s.quantile(0.75)
q1 = amh_s.quantile(0.25)
q_i = q3 - q1
k = 1.5
amh_s = amh_s[amh_s < amh_s + k * q_i][amh_s > amh_s - k * q_i]

In [49]:
len(amh_s)

15002

In [50]:
np.histogram(amh_s.values, bins = 10)

(array([ 367, 1240, 2736, 1722, 1628, 1712, 1906, 2240, 1127,  324],
       dtype=int64),
 array([ 96. , 117.4, 138.8, 160.2, 181.6, 203. , 224.4, 245.8, 267.2,
        288.6, 310. ]))

In [52]:
amh_s.value_counts(bins=np.arange(amh_s.min(), amh_s.max() + 10, 10))

(146.0, 156.0]     1277
(136.0, 146.0]     1159
(256.0, 266.0]     1063
(236.0, 246.0]     1006
(156.0, 166.0]      995
(246.0, 256.0]      987
(126.0, 136.0]      886
(216.0, 226.0]      873
(266.0, 276.0]      860
(166.0, 176.0]      832
(226.0, 236.0]      814
(176.0, 186.0]      813
(186.0, 196.0]      761
(196.0, 206.0]      755
(206.0, 216.0]      731
(276.0, 286.0]      319
(95.999, 106.0]     187
(286.0, 296.0]      164
(116.0, 126.0]      162
(106.0, 116.0]      162
(296.0, 306.0]      128
(306.0, 316.0]       68
Name: average_monthly_hours, dtype: int64

# Time_spend_company

In [53]:
tsc_s = df["time_spend_company"]
print("mean: ",tsc_s.mean())
print("std: ", tsc_s.std())
print("median: ", tsc_s.median())
print("skewness: ", tsc_s.skew())
print("kurtosis: ", tsc_s.kurt())
print("min: ", tsc_s.min())
print("max: ", tsc_s.max())

mean:  3.498066924410079
std:  1.460052788695397
median:  3.0
skewness:  1.8535304537020056
kurtosis:  4.77435277319063
min:  2
max:  10

# work accident

In [55]:
wa_s = df["Work_accident"]

In [57]:
print("mean: ",wa_s.mean())
print("std: ", wa_s.std())
print("median: ", wa_s.median())
print("skewness: ", wa_s.skew())
print("kurtosis: ", wa_s.kurt())
print("min: ", wa_s.min())
print("max: ", wa_s.max())

mean:  0.14458072257032395
std:  0.3516893257183746
median:  0.0
skewness:  2.0214811236629213
kurtosis:  2.0866641003424995
min:  0
max:  1

In [58]:
wa_s.value_counts()

0    12833
1     2169
Name: Work_accident, dtype: int64

# left

In [59]:
l_s = df["left"]

In [61]:
print("mean: ",l_s.mean())
print("std: ",l_s.std())
print("median: ",l_s.median())
print("skewness: ",l_s.skew())
print("kurtosis: ", l_s.kurt())
print("min: ",l_s.min())
print("max: ", l_s.max())
l_s.value_counts()

mean:  0.23823490201306494
std:  0.4260177593383432
median:  0.0
skewness:  1.2290567435810678
kurtosis:  -0.4894847947712164
min:  0
max:  1

0    11428
1     3574
Name: left, dtype: int64

# promotion_last_5years

In [62]:
pl5_s = df["promotion_last_5years"]

In [64]:
print("mean: ",pl5_s.mean())
print("std: ", pl5_s.std())
print("median: ", pl5_s.median())
print("skewness: ", pl5_s.skew())
print("kurtosis: ", pl5_s.kurt())
print("min: ", pl5_s.min())
print("max: ", pl5_s.max())
pl5_s.value_counts()

mean:  0.02126383148913478
std:  0.14426735012623687
median:  0.0
skewness:  6.637676502425124
kurtosis:  42.06435716636667
min:  0
max:  1

0    14683
1      319
Name: promotion_last_5years, dtype: int64

# salary

In [73]:
s_s = df["salary"]

In [74]:
s_s.value_counts()

low       7318
medium    6446
high      1237
nme          1
Name: salary, dtype: int64

In [75]:
s_s.where(s_s=="nme")

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
14972    NaN
14973    NaN
14974    NaN
14975    NaN
14976    NaN
14977    NaN
14978    NaN
14979    NaN
14980    NaN
14981    NaN
14982    NaN
14983    NaN
14984    NaN
14985    NaN
14986    NaN
14987    NaN
14988    NaN
14989    NaN
14990    NaN
14991    NaN
14992    NaN
14993    NaN
14994    NaN
14995    NaN
14996    NaN
14997    NaN
14998    NaN
14999    NaN
15000    NaN
15001    nme
Name: salary, Length: 15002, dtype: object

In [76]:
s_s = s_s.where(s_s!="nme").dropna()